body{
    margin:0;
    overflow:hidden;
    touch-action:none;
    position:static
}

:root {
    --btn-dim: linear-gradient(to bottom, rgb(93 85 189 / 60%) 0%, rgb(96 88 192 / 90%) 50%, rgb(112 120 202 / 90%) 50%);
    --btn-default: linear-gradient(to bottom, rgb(79 64 255 / 60%) 0%, rgb(110 98 255 / 90%) 50%, rgb(121 132 255 / 90%) 50%);
    --btn-hover: linear-gradient(to bottom, rgb(124 113 255 / 60%) 0%, rgb(126 115 255 / 90%) 50%, rgb(147 156 255 / 90%) 50%);
    --btn-active: linear-gradient(to bottom, rgb(124 113 255 / 60%) 0%, rgb(126 115 255 / 90%) 50%, rgb(147 156 255 / 90%) 50%);
    --btn-on: linear-gradient(to bottom, rgb(156 177 255 / 60%) 0%, rgb(185 179 255 / 90%) 50%, rgb(224 226 255 / 90%) 50%)
}
*{
    font-family:ubuntu mono,monospace,courier new,Courier,special;
    -webkit-tap-highlight-color:transparent
}
canvas{
    touch-action:none;
    cursor:text;
    position:absolute;
    z-index:-1
}
h3{
    margin-top:10px;
    margin-bottom:10px
}
.bold{
    font-weight:700
}
.hidden{
    display:none!important
}
#clipboard,#textarea{
    width:0;
    height:0;
    transform:translate(-200px,-200px);
    position:absolute
}
.connectingtext{
    display:block;
    text-align:center;
    user-select:none
}
#nametag{
    width:100px;
    margin-right:5px
}
.infotext{
    display:flex;
    justify-content:center;
    user-select:none
}
#nearby{
    margin-right:15px;
    cursor:pointer
}
#connecting{
    position:absolute;
    width:100vw;
    height:100vh;
    background-color:rgba(30,30,30,.8);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1001;
    color:#fff;
    transition:opacity .5s
}
#info {
    background-image: var(--btn-default);
    border: 1px solid rgba(39, 39, 39, 0.8);
    color: #fff;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    height: 30px;
    padding: 4px 14px;
    font-size: 18px;
    pointer-events: auto;
    transition: all 0.9s;
    z-index: 2;
    position: absolute;

    width: 90%;         
    max-width: 500px; 
    overflow-x: auto;
    overflow-y: hidden;
    backdrop-filter: blur(4px);
}

.separator {
    background-color: rgb(0 0 0 / 40%);
    border-radius: 2px;
    flex-shrink: 0;
    width: 2px;
    height: 24px;
    margin: 5px
}


#headline {
	position: fixed;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 0;
    transition: margin-left .12s ease, transform .12s ease, background-color .28s ease;
    align-items: flex-start;
	transform: translateX(0);
	z-index: 1000;
}
#headline.menu-open {
	transform: translateX(250px);
}
#decorations{
    position:absolute;
    z-index:4;
    display:none;
    flex-direction:row;
    background-color:rgba(30,30,30,.8);
    border-radius:5px;
    width:145px;
    justify-content:space-evenly
}
.decoration{
    background-color:#b9b9b9;
    border-radius:25%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:5px 0;
    cursor:pointer;
    transition:all 100ms
}
.decoration.enabled{
    background-color:#fff
}
.decoration>img{
    filter:opacity(.5);
    width:30px
}
.decoration.enabled>img{
    filter:opacity(1)
}
#usermenu{
    background-color:transparent;
    color:#fff;
    position:absolute;
    transform:translateX(-255px);
    pointer-events:auto;
    transition:all .12s;
    display:flex;
    max-height:70vh;
    justify-content:space-between;
    -webkit-user-select:none;
}
#admin,#wallsettings{
    display:none
}
#addmembers{
    margin:0 10px
}
#memberlist{
    display:flex;
    flex-wrap:wrap;
    margin-top:5px
}
.member{
    padding:5px;
    margin:3px;
    background-color:rgba(255,255,255,.35);
    border-radius:5px;
    font-size:12px;
    cursor:pointer
}
.member:hover{
    text-decoration:line-through;
    color:red
}
#register,#loggedin,#accountsettings{
    display:none
}
.buttonlink{
    text-decoration:underline;
    color:#becdff;
    cursor:pointer
}
#optionsmenu{
    background: var(--btn-dim);
    border: 1px solid rgb(145 113 255 / 70%);
    border-radius: 0 0 10px 0;
    overflow:auto;
	width: 250px;
    -ms-overflow-style:none;
    overflow-wrap:break-word;
    scrollbar-width:none;
    max-height:526px
}
input{
    vertical-align:middle;
    margin-top:5px
}
.sidething{
    display:flex;
    flex-direction:column
}
#closemenu{
    display:flex;
    justify-content:center;
    margin-bottom:4px;
    transition:all .1s
}
#closemenu:active,#closeteleport:active{
    transform:scale(.9)
}
#colourcontainer {
    display: flex;
    /* center */
    top: unset;
    bottom: 60px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    max-width: 400px;
    height: 80px;
    width: 65%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-image: var(--btn-default);
    border-radius: 8px;
    padding: 4px;
    border: 1px solid rgba(139, 139, 139, 0.5);
    box-shadow: 0 4px 12px rgba(139, 139, 139, 0.3);
    backdrop-filter: blur(4px);
    flex-direction: column;
}
.tabs {
	display: flex;
	width: 100vw;
	height: 30px;
	flex-direction: row;
}
.tabs > button {
    background: transparent;
    color: #fff8;
    border: 0;
}
.tabs > button:disabled {
    background: transparent;
    color: #fff;
    border-width: 2px;
    border-style: inset;
	border-color: #fff4;
}
#colourlist {
    border: 0.56px solid #fff;
    border-radius: 5px;
    display: flex;
    height: 55px;
    overflow: auto;
    flex-direction: column;
}
#colourlist > div {
    flex: 0 0 auto;
    border-radius: 5px;
    background-color: rgba(19, 19, 24, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
    transition: all 50ms;
}

#monocolourlist > div,
#darkercolourlist > div,
#darkcolourlist > div,
#normalcolourlist > div,
#lightcolourlist > div,
#lightercolourlist > div {
    border-radius: 100%;
	cursor: pointer;
}
#customcolour {
    margin: 4px;
    border: 2px solid #fff;
    padding: 0;
    width: 15%;
    height: 50%;
    border-radius: 5%;
    cursor: pointer;
    transition: all 50ms;
}
#colourlist::-webkit-scrollbar,
#optionsmenu::-webkit-scrollbar {
    display: none
}


.colour.selected {
    border: 3px solid #fff
}
.colour{
    width:20px;
    height:20px;
    margin:3px;
    border-radius:25%;
    box-sizing:border-box;
    transition:all 50ms
}
.colour.selected{
    border:3px solid #fff
}
#zoom{
    width:150px
}
th,td{
    padding:5px;
    text-align:left;
    border:1px solid #fff
}
#coords{
    cursor:pointer
}
.infobtn {
    border-radius: 5px;
    width: 34px;
    padding: 0 0;
    vertical-align: middle;
    transition: all .1s;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.infobtn.decor .infobtn.tool {
    width: 9px;
    padding-left: 6px;
    padding-right: 6px;
    min-width: fit-content;
    min-height: fit-content;
}

.infobtn.enabled {
	background: #fff5
}

.infobtn.decor {
    transform: scale(0.9);
}

.infobtn.decor>img {
    width: fit-content;
    height: fit-content;
}

.infobtn>img,
.button {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none
}

.infobtn:active {
    transform: scale(.9);
    background-color: rgba(30, 30, 30, .3)
}
.bubble {
    background: #111c;
    border: 1px solid rgb(145 113 255 / 70%);
    background-image: var(--btn-dim);
    color: #fff;
    min-width: 24px;
    min-height: 24px;
    padding:8px;
    border-radius: 0 12px 12px 0;
    display: flex;
}

.bubble.clickable {
    cursor: pointer;
    transition: background-color .12
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:0;
    z-index:3;
    width:100vw;
    height:0
}
#toast{
    position:absolute;
    background-color:rgba(30,30,30,.8);
    color:#fff;
    border-radius:5px;
    margin:5px;
    transition:all .5s;
    padding:5px;
    max-width:80vw;
    overflow-wrap:break-word;
    top:-30px;
    user-select:none;
    z-index:3;
    max-height:0;
    overflow-y:hidden
}
#toast.toasting{
    top:20px;
    max-height:100vh
}
#teleport{
    position:absolute;
    display:block;
    z-index:2;
    text-align:center;
    transition:all .5s;
    background-color:rgba(30,30,30,.8);
    color:#fff;
    margin:15px;
    padding:5px 15px 15px;
    border-radius:5px;
    width:330px;
    max-width:85vw;
    top:-400px;
    user-select:none;
    max-height:300px;
    overflow-y:hidden
}
#teleport.open{
    top:40px;
    max-height:100vh
}
#teleport>form>input,.coordinput>div>input{
    margin-bottom:5px
}
#tpx,#tpy{
    width:70px
}
.coordinput{
    text-align:left;
    display:flex;
    justify-content:center
}
.tptitle{
    font-size:26px;
    text-align:left;
    display:block;
    margin-bottom:10px;
    font-weight:700
}
#closeteleport{
    position:absolute;
    transition:all .1s;
    top:5px;
    right:5px
}
#walllist{
    text-align:left
}
#walllist>span>a{
    color:#fff
}
#walllist>span{
    font-size:20px;
    font-weight:700
}
.walllist{
    list-style:none;
    padding:0;
    text-align:left;
    height:75px;
    overflow-y:auto;
    overflow-x:hidden;
    margin-bottom:5px
}
.walllist a{
    width:100%;
    display:block;
    padding:3px 0;
    overflow-wrap:break-word;
    word-break:break-all
}
.walllist li{
    display:flex
}
.walllist li:hover{
    background-color:rgba(255,255,255,.1)
}
.walllist img{
    margin-right:3px;
    vertical-align:middle
}
#thememenu,#fontmenu{
    margin-top:10px;
    margin-right:20px
}
#fontmenu>input{
    vertical-align:unset
}
#customfont{
    width:110px
}
#customfontsize{
    width:40px
}
#chat{
    position:absolute;
    top:0;
    right:0;
    display:flex;
    height:300px;
    transition:all .5s;
    pointer-events:none;
    transform:translateX(220px)
}
#chat.open{
    transform:translateX(0px)
}
#deletewall {
	transition: dangerous .5s ease infininte
}
@keyframes dangerous {
	from {
		background-color: #600;
	}

	to {
		background-color: #f00;
	}
}
.chatcontainer{
    width:200px;
    background:var(--btn-dim);
    border-radius:0 0 0 5px;
    padding:10px;
    display:flex;
    flex-direction:column;
    pointer-events:auto
}
.msgcontainer{
    display:flex;
    justify-content:stretch
}
#chatbox{
    background-color:#fff;
    border-radius:5px;
    margin-bottom:5px;
    width:100%;
    height:100%;
    font-size:13px;
    word-wrap:break-word;
    overflow:auto
}
#chatbox>p{
    margin:5px
}
#chatmsg{
    border-radius:5px;
    border:none;
    width:100%;
    background-color:rgba(255,255,255,.8);
    user-select:none
}
#sendmsg{
    margin:5px;
    background-color:rgba(0,0,0,.3);
    border-radius:5px;
    width:20px;
    padding:5px;
    margin:5px 0 0 5px
}
#unread{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#d44b4b;
    position:absolute;
    left:-2px;
    bottom:-2px;
    display:none
}
#unread.show{
    display:block
}
.button{
    cursor:pointer;
    transition:all .1s;
    user-select:none
}
.button:active{
    transform:scale(.9)
}
@font-face{
    font-family:ubuntu mono;
    src:url(fonts/UbuntuMono-Regular.ttf)
}
@font-face{
    font-family:ubuntu mono;
    src:url(fonts/UbuntuMono-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:ubuntu mono;
    src:url(fonts/UbuntuMono-Italic.ttf);
    font-style:italic
}
@font-face{
    font-family:ubuntu mono;
    src:url(fonts/UbuntuMono-BoldItalic.ttf);
    font-weight:700;
    font-style:oblique
}
@font-face{
    font-family:inconsolata;
    src:url(fonts/Inconsolata-Regular.ttf)
}
@font-face{
    font-family:inconsolata;
    src:url(fonts/Inconsolata-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:ibm plex mono;
    src:url(fonts/IBMPlexMono-Regular.ttf)
}
@font-face{
    font-family:ibm plex mono;
    src:url(fonts/IBMPlexMono-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:ibm plex mono;
    src:url(fonts/IBMPlexMono-Italic.ttf);
    font-style:italic
}
@font-face{
    font-family:ibm plex mono;
    src:url(fonts/IBMPlexMono-BoldItalic.ttf);
    font-weight:700;
    font-style:oblique
}
@font-face{
    font-family:roboto mono;
    src:url(fonts/RobotoMono-Regular.ttf)
}
@font-face{
    font-family:roboto mono;
    src:url(fonts/RobotoMono-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:roboto mono;
    src:url(fonts/RobotoMono-Italic.ttf);
    font-style:italic
}
@font-face{
    font-family:roboto mono;
    src:url(fonts/RobotoMono-BoldItalic.ttf);
    font-weight:700;
    font-style:oblique
}
@font-face{
    font-family:courier prime;
    src:url(fonts/CourierPrime-Regular.ttf)
}
@font-face{
    font-family:courier prime;
    src:url(fonts/CourierPrime-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:courier prime;
    src:url(fonts/CourierPrime-Italic.ttf);
    font-style:italic
}
@font-face{
    font-family:courier prime;
    src:url(fonts/CourierPrime-BoldItalic.ttf);
    font-weight:700;
    font-style:oblique
}
@font-face{
    font-family:cousine;
    src:url(fonts/Cousine-Regular.ttf)
}
@font-face{
    font-family:cousine;
    src:url(fonts/Cousine-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:cousine;
    src:url(fonts/Cousine-Italic.ttf);
    font-style:italic
}
@font-face{
    font-family:cousine;
    src:url(fonts/Cousine-BoldItalic.ttf);
    font-weight:700;
    font-style:oblique
}
@font-face{
    font-family:pointfree;
    src:url(fonts/pointfree.ttf)
}
@font-face{
    font-family:pointfree;
    src:url(fonts/pointfree-bold.ttf);
    font-weight:700
}
@font-face{
    font-family:monofur;
    src:url(fonts/monof55.ttf)
}
@font-face{
    font-family:monofur;
    src:url(fonts/monof56.ttf);
    font-style:italic
}
@font-face{
    font-family:fantasque sans mono;
    src:url(fonts/FantasqueSansMono-Regular.ttf)
}
@font-face{
    font-family:fantasque sans mono;
    src:url(fonts/FantasqueSansMono-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:fantasque sans mono;
    src:url(fonts/FantasqueSansMono-Italic.ttf);
    font-style:italic
}
@font-face{
    font-family:fantasque sans mono;
    src:url(fonts/FantasqueSansMono-BoldItalic.ttf);
    font-weight:700;
    font-style:oblique
}
@font-face{
    font-family:libertinus mono;
    src:url(fonts/LibertinusMono-Regular.ttf)
}
@font-face{
    font-family:libertinus mono;
    src:url(fonts/LibertinusMono-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:fixedsys;
    src:url(fonts/fixedsys.ttf)
}
@font-face{
    font-family:special;
    src:url(fonts/special.ttf?v=10)
}
@font-face{
    font-family:cutive mono;
    src:url(fonts/CutiveMono-Regular.ttf)
}
.buttons{
    display:flex;
    justify-content:stretch;
    width:100vw;
    height:40px;
    user-select:none
}
.buttons {
    display: flex;
    width: 150vw;
    height: 50px;
    user-select: none
}

@media only screen {
    .infobtn>img {
        width: 24px
    }

    .buttons {
        width: 100%;
        height: unset
    }
}
ul::-webkit-scrollbar{
    width:8px
}
ul::-webkit-scrollbar-track{
    background:rgba(255,255,255,.1);
    border-radius:5px
}
ul::-webkit-scrollbar-thumb{
    background-color:rgba(255,255,255,.2);
    border-radius:5px
}
